<div class="content">
<div class="container-fluid">
  <div class="card">
  <%= simple_form_for @register, url: '/registers' , method: :post do |f| %>
      <%= f.label @register.event.title %><br/>
     <%= f.label current_user.fname  %>&emsp;<%=f.label current_user.lname %>
     <%= f.hidden_field :user_id, :value => current_user.id %>
     <%= f.hidden_field :event_id, :value => @register.event.id %>

    <p>Guest</p>


    <%# @register.guests.each do | guest |  %>
    <%= f.simple_fields_for :guests do |g| %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= g.label :first_name %><br/>
              <%= g.text_field :fname, autofocus: true, autocomplete: "fname",class: "form-control" %>
            </div>
            <div class="col-md-6">
              <%= g.label :last_name %><br/>
              <%= g.text_field :lname, autofocus: true ,autocomplete: "lname",class: "form-control" %>
            </div>
          </div>
        </div>

    <div class="form-group">
      <%= g.label :age %><br/>
      <%= g.text_field :age, autofocus: true ,class: "form-control"%>
    </div>
    <% end %>
    <%# end %>

<!--    <div>-->
      <%#= f.button :add_guest, "Add Guest"%>
<!--    </div>-->

    <div class="form-action">
      <%=f.submit "Register" %>
    </div>
  <% end %>
</div>
</div>
</div>