<div class="content">
  <div class="container-fluid">
    <div class="card">
      <h3>Edit Profile</h3>
      <%= form_for(@user) do |f| %>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <%= f.label :first_name %><br/>
                  <%= f.text_field :fname, autofocus: true, autocomplete: "fname",class: "form-control" %>
                </div>
                <div class="col-md-6">
                  <%= f.label :last_name %><br/>
                  <%= f.text_field :lname, autofocus: true ,autocomplete: "lname",class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <%= f.label :date_of_birth %><br />
                  <%= f.date_select :date_of_birth,start_year: 1930%>
                </div>
                <div class="col-md-6">
                  <%= f.label :gender %><br/>
                  <%= f.radio_button :is_female, false %>
                  <%= f.label :gender_male, "Male" %>
                  <%=f.radio_button :is_female, true %>
                  <%=f.label :gender_female, "Female" %>
                </div>
              </div>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
            </div>
            <div class="actions">
              <%= f.submit "Add", class: "btn btn-success" %>
            </div>
      <% end %>
      <%= link_to "Back", usershow_path %>
      </div>
      </div>
    </div>
