<div class="content">
<div class="container-fluid">
  <div class="card col-md-4">
    <% if current_user %>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, size: "300x300", class: "rounded-circle" %>
      <% else %>
        <%= gravatar_image_tag(current_user.email) %>
      <% end %>
      <p> Name:
        <%=  current_user.fname.capitalize! %>
        <%= current_user.lname.capitalize! %>
      </p>
      <p> Gender:
        <% if current_user.is_female == false %>
          Male
        <% else %>
          Female
        <% end %>
      </p>
      <p>Date of birth:
        <%= current_user.date_of_birth %>
      </p>
      <p>Email:
        <%= current_user.email %>
      </p>
    <% end %>
    <%= link_to 'Edit Profile', edit_user_registration_path(id: current_user.id), class: "btn  btn-primary" %>
  </div>
</div>
</div>
