
- if current_user

  = render 'layouts/container'
  %h3 News
  %hr.my-4/
  - @posts.each do |post|
    %p
      %b 
        = post.title
      = post.body.truncate_words(10)
      = link_to "See More", post
- else

  = render 'layouts/jumbo'
  %h1 Welcome To Happy Club