
- if current_user
  .containerr
    %h3 News
    %hr.my-4/
    %ul.list-group
    - @posts.each do |post|
      %li.list-group-item
        %p
          %b 
            = post.title
          = post.body.truncate_words(20).html_safe
          = link_to "See More", post
          = link_to "trial", asso_path
          %br 
          %i Created on: 
          = post.created_at 
    
- else

  .containerr
    %h1 Welcome To Happy Club