<%= simple_form_for(@event) do |f| %>

  <div class="form-group">
    <%= f.input :title ,class: "form-control"%>
  </div>

  <div class="form-group">
  <%= f.file_field :post_image %>
  </div>

  <div class="form-group">
    <div class="date">
      <%=f.label :start_date %>
      <%= f.datetime_select :start_date, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="date">
      <%=f.label :end_date %>
      <%= f.datetime_select :end_date, class:"form-control" %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <%= f.input :location ,class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.input :capacity ,class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.trix_editor :description %>
  </div>
    <%#= f.collection_radio_buttons :allow_guests, [[false,'No '], [true,'Yes']],:first, :last %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
