<div class="containerr">
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>Allow guests?</strong>
  <% if @event.allow_guests == true %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<% if current_user && current_user.admin %>
  <% if @event.start_date> Date.today %>
    <%= link_to 'Edit', edit_event_path(@event) %>|
  <% end %>
<% else %>
  <% if @event.start_date > Date.today %>
    <%= link_to "Register", class: "btn btn-success"%>
  <% end %>
<% end %>
<%= link_to 'Back', events_path %>

</div>