<div class="content">
<div class="container-fluid">
  <div class="event-heading">
    <h4>
      <%= @event.title %>
    </h4>
  </div>


  <div class="event-content">
    <div class="row">
      <div class="col-md-6">
        <% if @event.post_image.attached? %>
          <%= image_tag @event.post_image , size: "300x300" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <ul>
          <li class="list-group-item">
            <%= sanitize @event.description %>
          </li>

          <li class="list-group-item">
            <p>Start Date</p>
            <i class="fa fa-clock-o"></i>
            <%= @event.readable_start_date %>
          </li>

          <li class="list-group-item">
            <p>End Date</p>
            <i class="fa fa-clock-o"></i>
            <%= @event.readable_end_date %>
          </li>

          <li class="list-group-item">
            <i class="fa fa-map-marker"></i>
            <%= @event.location %>
          </li>
          <li class="list-group-item">
            <p><i class="fa fa-users"></i><%= (@event.capacity - @event.users.count) %> seats available</p>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <% if @event.start_date > Date.today %>
    <%if @event.attended_by(current_user.id, @event) || current_user.admin? %>
        <div class="row">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>Users Attending</h4>
            <ul class="list-group">
              <% @event.users.each do |u| %>
                <li class="list-group-item">
                  <p><%=  u.full_name %> </p>
                </li>
              <%end %>
            </ul>
          </div>

          <div class="col-md-6">
            <h4>Guest Attendees</h4>
            <ul class="list-group">
              <% @event.registers.each do |r| %>
                <% r.guests.each do |g| %>
                  <li class="list-group-item">
                    <p><%= g.full_name %> </p>
                  </li>
                <%end %>
              <% end %>
            </ul>
          </div>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_event_path(@event) %>|
          <%else %>
            <%= link_to "Cancel" ,register_path(event_id: @event.id),class:"btn btn-danger", method: :delete%>
          <% end %>
    <% else %>
      <% if @event.capacity > @event.users.count  %>
        <%= link_to "Register",  new_register_path(user_id: current_user.id, event_id: @event.id, allow_guest: @event.allow_guests)	%>
      <% else %>
        <p>User Capacity is full.</p>
      <% end %>
    <%end %>
  <% end %>
    <%=link_to 'Back', events_path, class: "btn" %>
  </div>
</div>
</div>
