<div class="containerr">
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>Allow guests:</strong>
  <%= @event.allow_guests %>
</p>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>