<div class="form">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title_of_the_news %>
    <%= form.text_field :title , class:"form-control"%>
  </div>

  

  <div class="form-group">
    
  <% if post.image.attached? %>
  <%= image_tag post.image, size: "100x100",class: "rounded-circle" %>
  <% end %>
  <br/>
    <%= form.label :image %>
    <%= form.file_field :image ,size: "100x100"%>
  </div>

  <div class="field">
    <%= form.label :details_of_the_news %>
    <%= form.trix_editor :body %>
    
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
