<!DOCTYPE html>
<html>
  <head>
    <title>Happyclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="wrapper">
    <% if current_user %>
    <%= render 'layouts/sidenav' %>


    <div class="main-panel">
    <% end %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/alert' %>
          <%= yield %>

    </div>
  </div>
  </body>
</html>
